Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. Database is a structured collection of data which is stored in rows, columns and indexed so that it can be retrieve information effectively. 

SQL database stores the data in a structured tablular format, means it stores the data in rows and colums, whereas NoSQL database stores the data in documents and there is no specific restriction which is applied.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL is Data Defination Language, which is a syntax used for creating and altering database objects such as tables, indices and users.

- CREATE : This command is used for creating database and tables.

In [1]:
import mysql.connector as connection
import logging

In [2]:
def database_connection():
    
    global mydb 
    mydb = connection.connect(
        host = 'localhost',
        username = 'root',
        password = '123'
    )
    
    return mydb

In [3]:
try:
    
    logging.basicConfig(
        filename = "SQLAssignment",
        filemode = 'a',
        level = logging.INFO,
        format = '%(asctime)s %(name)s %(levelname)s %(message)s'
    )
    
    mydb = database_connection()
    mycursor = mydb.cursor()

    mycursor.execute(
        "CREATE Database if not exists User_Detail"
    )
    
    mycursor.execute(
        """Create table if not exists User_Detail.Personal_Detail(
        firstname varchar(45),
        lastname varchar(45),
        age int,
        email varchar(45),
        city varchar(45)
        )"""
    )
    mycursor.execute(
        "Show tables from User_Detail"
    )
    
    for i in mycursor:
        logging.info(i)
    
except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

- DROP : it is used for dropping a table or database

In [4]:
try:
    
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    # creating a new database project details
    mycursor.execute(
        "CREATE Database if not exists Project_Details"
    )
    
    mycursor.execute(
        "SHOW Databases"
    )
    for i in mycursor:
        logging.info(i)
    
    # removing the database project details
    mycursor.execute(
        "Drop Database Project_Details"
    )
    
    mycursor.execute(
        "SHOW Databases"
    )
    for i in mycursor:
        logging.info(i)
    

except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

- ALTER : this statement is used for making changes in existing tables.

In [5]:
try:
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    mycursor.execute(
        """
        SHOW columns from User_Detail.Personal_Detail
        """
    )
    
    for i in mycursor:
        logging.info(i)
        
    mycursor.execute(
        "ALTER table User_Detail.Personal_Detail rename column email to email_add"
    )
    
    mycursor.execute(
        """
        SHOW columns from User_Detail.Personal_Detail
        """
    )
    
    for i in mycursor:
        logging.info(i)
        
except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

- TRUNCATE : it removes all the rows from table.

In [7]:
try:
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    # inserting data in table and then removing it
    mycursor.execute(
        """
        INSERT into user_detail.personal_detail()
        values 
        ('Ashutosh','Sharma',22,'ashutosh@gmail.com','Vancover'),
        ('Daksh','Sethi',21, 'daksh@gmail.com','Kelowna')
        """
    )
    mydb.commit()
    mycursor.execute(
        "SELECT * from user_detail.personal_detail"
    )
    
    for i in mycursor:
        logging.info(i)
        
    mycursor.execute(" truncate table user_detail.personal_detail")
    mycursor.execute(
        "SELECT * from user_detail.personal_detail"
    )
    
    for i in mycursor:
        logging.info(i)
        
except Exception as e:
    logging.info(e)
    
finally:
    mydb.close()
    logging.shutdown()

Q2. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML is Data Manipulation Language, which is used for inserting and modifying the data in the data tables.

- INSERT : it is used for inserting data into tables manually.

In [8]:
try:
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    mycursor.execute(
        """
        INSERT into user_detail.personal_detail()
        values 
        ('Ashutosh','Sharma',22,'ashutosh@gmail.com','Vancover'),
        ('Daksh','Sethi',21, 'daksh@gmail.com','Kelowna')
        """
    )
    mydb.commit()
    mycursor.execute(
        "SELECT * from user_detail.personal_detail"
    )
    
    for i in mycursor:
        logging.info(i)

except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

- UPDATE : it is used for updating the existing data in our tables.

In [9]:
try:
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    mycursor.execute(
        """
        update user_detail.personal_detail
        set city = 'Kelowna'
        where firstname = 'Ashutosh'
        """
    )
    mydb.commit()
    mycursor.execute(
        """
        select * from user_detail.personal_detail
        where firstname = 'Ashutosh'
        """
    )
    
    for i in mycursor:
        logging.info(i)

except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

- DELETE : it is used for deleting existing record from the system.

In [10]:
try:
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    mycursor.execute(
        """
        delete from user_detail.personal_detail
        where firstname = 'Daksh'
        """
    )
    mydb.commit()
    mycursor.execute(
        """
        select * from user_detail.personal_detail
        """
    )
    for i in mycursor:
        logging.info(i)
        
except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

Q4. What is DQL? Explain SELECT with an example.

Ans. DQL is data query language, which is used for performing queries on the data in schema. SELECT command is used for quering which gets the data from the database according to our requirement.

In [11]:
try:
    mydb = database_connection()
    mycursor = mydb.cursor()
    
    # to display data with all columns in table personal detail.
    mycursor.execute(
        "select * from user_detail.personal_detail"
    )
    for i in mycursor:
        logging.info(i)
        
except Exception as e:
    logging.error(e)
    
finally:
    mydb.close()
    logging.shutdown()

Q5. Explain Primary Key and Foreign Key.

Ans. Primary Key uniquely indentify data in our table. Primary key should always be unique and cannot be null.
Foreign Key defines links between tables, it is a field in a table which is primary key in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans. cursor() allow python code to execute MYSQL command in database session. It creates a cursor which is bounded for the lifetime of the database session. 
execute() method accept the SQL query as parameter and execute the given query.

In [12]:
try:
    
    mydb_new = connection.connect(
        host = 'localhost',
        user = 'root',
        password = '123'
    )
    
    logging.info(mydb_new)

except Exception as e:
    logging.error(e)
    
finally:
    mydb_new.close()
    logging.shutdown()

Q7. Give the order of execution of SQL clauses in an SQL query.

- FROM
- WHERE
- GROUP BY
- HAVING
- SELECT
- DISTINCT
- ORDER BY
- LIMIT