Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
ser = pd.Series([4,8,15,16,23,42])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
lst = [10,11,12,13,14,15,16,17,18,19,20]
print(pd.Series(lst))

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
df = pd.DataFrame({
    'Name' : ['Alice','Bob','Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male','Female']
})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. Pandas Series is a 1d array, similar to a list, whereas DataFrame in padas is a multi dimentional array like an excel table which has multiple rows and columns. Each column in a dataframe is a series.

When we read a csv file in pandas it will be stored as a dataframe which will have n-rows and m-column making it a multi-dimentional array, whereas when we save numbers 1-10 as series it get stored as 1d array with a defined index.

In [5]:
#example of df
print(df, type(df),"\n")

#example of series
print(ser,type(ser))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female <class 'pandas.core.frame.DataFrame'>

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64 <class 'pandas.core.series.Series'>

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans. Pandas provide a wide range of functions to manipulate the data.

 1. __head()__ : It returns the first few row of the dataframe. It helps in inspecting the data and its structure.

In [6]:
#returns first few rows
print(df.head())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

2. __loc[ ]__ and  __iloc[ ]__ : These are used for label based and integer based indexing respectively. They help in accessing specific rows and columns.

In [7]:
print(df.loc[1:3,['Name','Gender']])

     Name  Gender
1     Bob    Male
2  Claire  Female

In [10]:
print(df.iloc[1:3,0:3:2])

     Name  Gender
1     Bob    Male
2  Claire  Female

3. __filter()__ : Used for filtering rows based on specific conditions.

In [11]:
print(df[df['Gender']=='Female'])

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. In pandas Series and Dataframe are mutable whereas Panel are not mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [12]:
ind = pd.Series([1,2,3,4,5,6])
name = pd.Series(["Ashu",'Shanu','Daksh','Suraj','Soumya','Akansha'])
age = pd.Series([33,33,28,30,33,30])
df2 = pd.DataFrame({'Index' : ind,
                   'Name' : name,
                   'Age':age})
print(df2)

   Index     Name  Age
0      1     Ashu   33
1      2    Shanu   33
2      3    Daksh   28
3      4    Suraj   30
4      5   Soumya   33
5      6  Akansha   30